<!doctype html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('/assets/css/homepage.css') }}">
        <title>Home</title>
    </head>
    <body class="text-center">
        <div class="mt-5 bg container p-3 mx-auto">
            <div class="row">
                <div class=" mx-auto">
                    <h1 class="cover-heading">Birthday Calendar</h1>
                </div>
                <div class="mx-auto">
                    <p class="lead mt-3">
                        A simple and easy to use platform for you to never forget important events
                        in your life. Register friends and you will be reminded of their birthday, or just
                        simple events that you want to be notified about in the upcoming future.
                    </p>
                </div>
                <div class="mx-auto">
                    {% if app.user %}
                        <div class="text-center">
                            <a href="{{ path('app_logout') }}" class="btn btn-lg btn-secondary w-50">Logout</a>
                        </div>
                    {% else %}
                        <div class="d-flex mx-auto w-50">
                            <a href="{{ path('app_login') }}" class="btn btn-lg btn-secondary me-2 w-50">Sign In</a>
                            <a href="{{ path('app_register') }}" class="btn btn-lg btn-secondary w-50">Sign Up</a>
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
        <script src="../../assets/js/vendor/popper.min.js"></script>
        <script src="../../dist/js/bootstrap.min.js"></script>
    </body>
</html>