hwi_oauth:
    # list of names of the firewalls in which this bundle is active, this setting MUST be set
    firewall_names: [main]
    connect:
        confirmation: true # should show confirmation page or not
        account_connector: App\Service\SocialConnector
        registration_form:    App\Form\RegistrationFormType
        registration_form_handler: App\Form\Handler\SocialRegistrationFormHandler

    resource_owners:
        google:
            type:                google
            client_id:           '%env(GOOGLE_ID)%'
            client_secret:       '%env(GOOGLE_SECRET)%'
            scope:               "email profile https://www.googleapis.com/auth/calendar"
            options:
                access_type: offline
                prompt: consent
            paths:
                email:          email