{% extends 'base.html.twig' %}

{% block body %}
    <body class="container">
        <div class="mx-5 d-flex">
            <h5 class="mt-1">Unable to connect because the Google account you are trying to use is currently linked to another existing account.</h5>
            <a href="{{ path('google-connect', {'replace': 'false'}) }}" class="btn btn-secondary btn-sm ms-2">Ok</a>
        </div>
    </body>
{% endblock %}