.bg {
    background-image: url('../homepage.png');

    /* Full height */
    height: 100vh;
    /* Center and scale the image nicely */
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;
}