{% extends 'authenticated.html.twig' %}

{% block title %}Event Creator{% endblock %}

{% block body %}
    <div class="container form-control w-25">
        {{ form(form) }}
    </div>
{% endblock %}
