{% extends 'base.html.twig' %}

{% block title %}Event{% endblock %}

{% block body %}
    <div class="d-none"> {% block register %} {% endblock %} </div>
    <div class="text-center">
        <h3 class="">Event {{ eventType }}</h3>
    </div>
    <div class="row">
        <div class="col-sm-10 col-md-8 col-lg-6 col-xl-4 mx-auto">
            <div class="container form-control mt-2">
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}